name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "."
      - name: Run script.sh
        run: bash script.sh

      - uses: VanOps/actions/workflow-failure-analyzer@main
        if: failure()
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }} # Usa GITHUB_TOKEN, no PAT
          mcp-url: ${{ secrets.MCP_URL }} # Opcional
          auto-remediate: "true" # Opcional
